<div class="container-fluid darkblue footer mt-5">
    <div class="row">
        <div class="text-center color-white w-100 footer_copy p-3">
            Copyright © 2022 Jorge Concha C. All Rights Reserved
        </div>
    </div>
</div>

