<app-header></app-header>
<div class="container-fluid detalle">
    <div class="row">
        <div class="col-12 detalle_header">
            <h2 class="detalle_titulo">{{ detalle.nombre }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table tabla_detalle">
            <thead class="darkblue">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of detalle.serie">
                <td>{{ dato.fecha | date:'dd/MM/yyyy' }}</td>
                <td>
                    <span *ngIf="detalle.unidad_medida == 'Pesos'">$</span>
                    <span *ngIf="detalle.unidad_medida == 'Dólar'">US$</span>
                    {{ dato.valor }}
                    <span *ngIf="detalle.unidad_medida == 'Porcentaje'">%</span>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<app-linecharts></app-linecharts>
<app-footer></app-footer>
    