$sm: ('min-width: 576px') //landscape phones
$md: ('min-width: 768px') //tablet
$lg: ('min-width: 992px') //desktop
$xl: ('min-width: 1200px') //large desktop
$xxl:('min-width: 1280px') //xlarge desktop

.detalle
    margin-bottom: 50px
    &_header
        height:200px
        background-color: rgb(85, 131, 255)
        margin-top: -40px
    &_titulo
        padding: 120px 5% 0
        font-size: 25px
        @media ($sm)
            font-size: 29px
.tabla_detalle
    width: 45%
    margin: 0 auto
.darkblue
    background-color: rgb(1 28 77)
    color: #fff

         
    
