<div class="container-fluid darkblue head_indicadores">
    <div class="row">
        <a [routerLink]="['/']">
            <img src="https://portales.bancochile.cl/uploads/000/011/015/27c0aed6-42c4-4e92-a62f-0e3bf6f81918/original/logo-bch.svg" alt="">
        </a>
    </div>
</div>
