$sm: ('min-width: 576px') //landscape phones
$md: ('min-width: 768px') //tablet
$lg: ('min-width: 992px') //desktop
$xl: ('min-width: 1200px') //large desktop
$xxl:('min-width: 1280px') //xlarge desktop

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap')

.roboto
    font-family: 'Roboto', sans-serif    
.roboto_condensed
    font-family: 'Roboto Condensed', sans-serif
.indicador
    background-color: rgb(1 28 77)
    color: #fff 
    max-height: 250px
    min-height: 250px
    border-radius: 0
    transition: all .5s
    max-width: 350px
    margin: 0 auto
    &:hover
        background-color: rgb(85, 131, 255)
        color:  rgb(1 28 77)
        & > .indicador_body > a
            background-color: rgb(1 28 77)
    
    &_btn
        /** position: relative **/
        left: inherit
        bottom: inherit
        text-transform: uppercase
        border-radius: 0
        padding: 10px 15px
        position: absolute
        left: 35%
        bottom: 65px
        @media ($sm)
            left: 30%
        @media ($md)
            left: 27%
        @media ($xl)
            left: 31%