<app-header></app-header>
<div class="container roboto">
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="roboto_condensed">{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let indicador of indicadores | ObjToArray" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div *ngIf="indicador.nombre != null">
                <div class="card text-center indicador mb-4">
                    <div class="card-body indicador_body">
                        <h3 class="card-title">{{ indicador.nombre }}</h3>
                        <p class="card-text indicador_text" *ngIf="indicador.unidad_medida == 'Pesos' ">Valor: $ {{ indicador.valor }}</p>                        
                        <p class="card-text indicador_text" *ngIf="indicador.unidad_medida == 'Porcentaje' ">Valor: {{ indicador.valor }} % </p>                        
                        <p class="card-text indicador_text" *ngIf="indicador.unidad_medida == 'Dólar' ">Valor: US$ {{ indicador.valor }}</p>                        
                        <a [routerLink]=" ['/','detalle',indicador?.codigo]" class="btn btn-primary indicador_btn">Detalle</a>
                    </div>
                    <div class="card-footer indicador_fecha">
                        {{ indicador.fecha | date:'dd/MM/yyyy' }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
