/* You can add global styles to this file, and also import other style files */
$sm: ('min-width: 576px') //landscape phones
$md: ('min-width: 768px') //tablet
$lg: ('min-width: 992px') //desktop
$xl: ('min-width: 1200px') //large desktop
$xxl:('min-width: 1280px') //xlarge desktop

body
    font-size: 14px
    font-family: 'Roboto', sans-serif
h1
    font-size: 28px
    font-family: 'Roboto Condensed', sans-serif
h2
    font-size: 20px
    font-family: 'Roboto', sans-serif
h3
    font-size: 18px
    font-family: 'Roboto', sans-serif
.darkblue
    color: rgb(1 28 77)

